/* Media Querys */
@media (min-width: 400px) and (max-width: 573px) {
  /* NAVBAR */
  .ml-auto {
    text-align: center;
  }
  .navbar-brand {
    font-size: 1em;
  }
  /* JUMBOTRON CON IMAGEN */
  .my-photo {
    background-image: url('../img/header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48em;
    z-index: auto;
  }
  .jumbotron {
    display: none;
  }
  /* SECCIÓN SOBRE MÍ */
  .about-me {
    display: none;
  }
  /* SECCIÓN EXPERIENCIAS */
  .experience-title h1 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
  .icons-table {
    display: block;
    justify-content: space-around;
    text-align: center;
    padding-top: 1em;
  }
  .icons-1 {
    padding-bottom: 2em;
  }
  /* SECCIÓN CARDS */
  .cards-section h1 {
    font-size: 1.5em;
  }
  .box-1 {
    padding-bottom: 0em;
  }
  /* SECCIÓN CONTACTO */
  .contact {
    padding: 4em;
  }
  .contact h1 {
    padding-bottom: 0;
  }
  /* FOOTER */
  .marifuse-footer {
    display: block;
    text-align: center;
  }
  .marifuse-footer h5 {
    font-size: 1.5em;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  /* JUMBOTRON CON IMAGEN */
  .my-text {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .my-text h3 {
    font-size: 1em;
  }
  /* SECCIÓN SOBRE MI */
  .about-me h1 {
    font-size: 1.5em;
  }
  .paragraphs {
    font-size: 1em;
  }
  /* SECCIÓN EXPERIENCIAS */
  .experience-title h1 {
    font-size: 1.5em;
  }
  .icons-table {
    display: block;
    justify-content: space-around;
    text-align: center;
    padding-top: 1em;
  }
  /* SECCIÓN CARDS */
  .cards-section h1 {
    font-size: 1.5em;
  }
  .card-deck {
    display: block !important;
  }
  .card-deck .card {
    margin-bottom: 1em;
  }
  .box-1 {
    padding-bottom: 0;
  }
}
