body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}
/* Navbar */
.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  transition: .5s;
}
#Navbar a:hover {
  color: #FCB3BF;
}
#navbarNav a {
  transition: .5s;
}
/* Imagen y textos del header */
.jumbotron {
  padding-top: 2em;
  padding-bottom: 0;
}
 .my-photo img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.my-text {
  background-color: #373A3C;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}
.my-text h3 {
  color: #FCB3BF;
  font-size: 2.5em;
  font-family: 'Permanent Marker', cursive;
}
/* Sección sobre mí */
.about-me h1 {
  padding-bottom: 1em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  text-shadow: 2px 3px 2px #707070;
}
.paragraphs {
  display: flex;
  font-size: 1.5em;
  text-align: justify;
}
/* Sección mi EXPERIENCIA */
.experience-title h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  text-shadow: 2px 3px 2px #707070;
}
.icons-table {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 5em;
}
.icons-1 a {
  font-size: 8em;
  color: #373A3C;
  transition: .5s;
}
.icons-2 a {
  font-size: 8em;
  color: #373A3C;
  transition: .5s;
}
.icons-1 a:hover {
  color: #FD4C75;
}
.icons-2 a:hover {
  color: #FD4C75;
}
.icons-table h5 {
  font-size: 2em;
  text-decoration: underline;
}
/* Sección Mis ULTIMOS TRABAJOS */
.cards-section {
  width: 100%;
  padding: 4em;
  background-image: url('../img/cards-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.cards-section h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  text-shadow: 2px 3px 2px #707070;
  padding-bottom: 1em;
}
.card-deck {
  border-radius: 15px;
}
.box-1 {
  padding-bottom: 4em;
}
/* Sección Contacto con formulario */
.contact {
  padding: 6em;
  text-align: center;
}
.contact h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  text-decoration: underline;
  text-shadow: 2px 3px 2px #707070;
  padding-bottom: 1em;
}
/* Sección Footer */
.marifuse-footer {
  display: flex;
  color: white;
  justify-content: space-around;
}
.marifuse-footer h5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  text-shadow: 2px 3px 2px #707070;
}
.icons-footer a {
  color: white;
  font-size: 2em;
  padding-right: 0.5em;
  transition: .5s;
}
.icons-footer a:hover {
  color: #FCB3BF;
}

/* Media Querys */
@media (min-width: 400px) and (max-width: 573px) {
  /* NAVBAR */
  .ml-auto {
    text-align: center;
  }
  .navbar-brand {
    font-size: 1em;
  }
  /* JUMBOTRON CON IMAGEN */
  .my-photo {
    background-image: url('../img/header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 48em;
    z-index: auto;
  }
  .jumbotron {
    display: none;
  }
  /* SECCIÓN SOBRE MÍ */
  .about-me {
    display: none;
  }
  /* SECCIÓN EXPERIENCIAS */
  .experience-title h1 {
    font-size: 1.5em;
    padding-bottom: 2em;
  }
  .icons-table {
    display: block;
    justify-content: space-around;
    text-align: center;
    padding-top: 1em;
  }
  .icons-1 {
    padding-bottom: 2em;
  }
  /* SECCIÓN CARDS */
  .cards-section h1 {
    font-size: 1.5em;
  }
  .box-1 {
    padding-bottom: 0em;
  }
  /* SECCIÓN CONTACTO */
  .contact {
    padding: 4em;
  }
  .contact h1 {
    padding-bottom: 0;
  }
  .text-inscription h5 {
    display: none;
  }
  .contact button {
    display: none;
  }
  /* FOOTER */
  .marifuse-footer {
    display: block;
    text-align: center;
  }
  .marifuse-footer h5 {
    font-size: 1.5em;
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  /* JUMBOTRON CON IMAGEN */
  .my-text {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .my-text h3 {
    font-size: 1em;
  }
  /* SECCIÓN SOBRE MI */
  .about-me h1 {
    font-size: 1.5em;
  }
  /* SECCIÓN EXPERIENCIAS */
  .experience-title h1 {
    font-size: 1.5em;
  }
  .icons-table {
    display: block;
    justify-content: space-around;
    text-align: center;
    padding-top: 1em;
  }
  /* SECCIÓN CARDS */
  .cards-section h1 {
    font-size: 1.5em;
  }
  .card-deck {
    display: block !important;
  }
  .card-deck .card {
    margin-bottom: 1em;
  }
  .box-1 {
    padding-bottom: 0;
  }
  /* SECCIÓN CONTACTO */
  .typeform-widget {
    display: none;
  }
  .all-rights-reserved {
    display: none;
  }
}
@media (min-width: 800px) {
  .typeform-widget {
    display: none;
  }
  .all-rights-reserved {
    display: none;
  }
}
